.container{
    display: flex;
}

.left{
    padding: 30px;
    border-right: 1px solid gray;
    width: 200px;
    font-weight: bold;
    font-size: larger;
}

.right{
    padding: 25px;
    padding-top: 0px;
    width: 500px;
}